.main_container {
    background-image: url('../../assests/images/illustration-your-users.svg');
    background-size: contain;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: 78%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    .inside_container {
        width: 70%;
        margin: 0 auto;
        h3 {
            font-size: 40px;
            text-transform: capitalize;
            margin-bottom: 18px;
        }
        .para_container {
            width: 33%;
            p {
                line-height: 22px;

            }
        }
    }


    
}